<main>
  <section class="container mx-auto px-4">
    <h1 class="text-3xl">EnglishNote</h1>
    <p>EnglishNote is a web application for learning English.</p>
    <%= link_to 'login', '/login', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </section>
</main>